
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap');

:root {
    --pimary-color: #04706c;
    --pimary-color-darker: #00504e;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--pimary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 840px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--pimary-color);
}

form button {
    border: none;
    background: var(--pimary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--pimary-color-darker);
}

table {
    justify-content: flex-end;
    text-align: center;
    border: 1px solid black;
}

td {
    font-weight: normal;
}

form {
    justify-items: center;
}

.paragrafo-res, .bad{
    background: rgb(98, 251, 187);
    text-align: center;
    width: 250px;
}

.bad {
    background: #e34242;
}
